html body header nav.container_nav li a#HOME.nav-item {
    color: #FFBAB6;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; 
    margin-bottom: 300px; 
    flex-basis: 500px;
}



/* .maindrawing-area .  */
.home-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

div.home-page-section{
    flex-basis: 500px;
}

.home-page-content img {
    display: flex;
    object-fit:cover;
    width: 80%;
    max-width: 600px;
}

.home-page-content #homepageimage img {
    min-width: 300px;
}

.icons-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

 a.linkednbutton img {
    transition: transform .2s; 

}

 a.linkednbutton img:hover {
    transform: scale(1.5); 
}

/* .maindrawing-area .  */


@media(max-width:450px){

    header h1.main-heading{
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        color: black;
        font-size: 1.5rem; 
        justify-content: center;
        flex-shrink: 1;
    }

    .home-page-content div.icons-container{
        flex-direction: column;
    }

    div.home-page-content{
        margin-top: 100px;
        margin-right: 0px;
    }


    header h1 {
        justify-content: center;
        align-items: center;
    }


    #about.about-area,
    #project-area,
    section.contact-area{
        margin-bottom: 100px;
    }


    h3.section-title{
        font-size: 1.5rem; 
    }

     ul.about-content{
        margin: 0px;
        width: 90%;
        padding: 10px;
    }

    .about-content li.about-right p{
        font-size: 0.7rem; 

    }
    .about-content li.about-right h2{
        font-size: 1rem; 
    }

}


@media (min-width: 1300px){
    #home-page-section{
        margin-top: 200px;
        margin-bottom: 300px;
    }

    img#homepageimage {
        display: flex;
        object-fit:cover;
        width: 80%;
        width: 900px;
    }


}

@media (max-width:800px){
    div.home-page-section{
        min-height: 600px; 
    }
}
@media (max-width:600px){
    section #home-page-section{
        padding: 0px 30px;
    }
}

.icons-container .linkednbutton{
    width: 50px;
}
.icons-container h2{
    color: black;
    flex-wrap: nowrap;
    white-space: nowrap;

}


/* .about-me-section .  */
ul.about-content{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;

}

.about-content li {
    padding: 20px;
    height: 300px;
}

.about-left{
    flex-basis: 30%;
    display: flex;
    align-content: flex-end;
    max-width: 340px;

}

.about-content li.about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;  
}

.about-right{
    flex-basis: 70%;
    height: 300px;
}

.about-right h2{
    margin-bottom: 3%;
}

.about-btn{
    padding: 5px 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    text-decoration: none;  
    font-size: 0.85rem; 
    font-weight: none;
    text-emphasis: none; 
    border-radius: 25px;
}

.about-btn:hover {
    color: #FFBAB6;
    border-color: #FFBAB6;
  }

.about-area p {
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 2;
    text-align: left;
    padding-left: 0;
    font-family: 'B612', sans-serif; 

}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;

}

@media (max-width: 1000px){
    section ul.about-content{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px 25px;

    }

    .about-left{
        justify-content: center;
    }
}


@media (max-width: 600px){
    .about-area ul.about-content {
        justify-content: center;
    }
    .about-left,
    .about-right{
        flex-basis: 100%;
        justify-content: center;
    }
}


    #project-area .container {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    
    
    #project-area.container > div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    div.project-box_n{
        margin: 10px;
    }
    

    @media (max-width: 600px){
        .container > div > img{
            width: 40%;
            height: 30%;
            object-fit: cover;
        }
    
    }


.form-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
    width: 80%;
    max-width: 550px;

}

 input,textarea {
   font-size: 1em;
   padding: 5px 15px 5px 15px;
   background: transparent;
   outline: none;
   color: black;
   border: solid 1px black;
   border-bottom: none;
   font-family: 'B612', sans-serif; 
   transition: all 0.3s ease-in-out;
   width: 100%;

}

textarea{
    height: 100px;
}

  #submit {
    font-size: 1em;
    padding: 10px 15px 10px 15px;
    background: transparent;
    outline:none;
    cursor: pointer;
    color: black;
    border: none;
    border: solid 1px black;
    display: flex;
    justify-content: center;  
    font-family: 'B612', sans-serif; 
    transition: all 0.3s ease-in-out;
}


input:hover {
    color: salmon;
  }
  textarea:hover {
     color:salmon;
   }
  
   #submit:hover {
     color:#FFBAB6;
   }
  
   textarea {
      resize: none;
    }

    .contact-area div.icon-about{
        display:flex;
        flex-direction: row;
        width: 20%;
        flex-basis: 20%;
        max-width: 300px;
        min-width: 100px;
        margin-top: 30px;
    }

    .icon-about div a img {
        transition: transform .2s; 
    }

    div.icon-about div a img:hover{
        transform: scale(1.3); 
    }

    .contact-area div.icon-about div a img{
        display: flex;
        width: 80%;
        object-fit:cover;
    }
    .contact-area div.icon-about div a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    html body section.contact-area{
        display: flex;
        flex-direction: column;
    }



    .row {
        margin: 8px -16px;
      }
      
      /* Add padding between each column */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that float*/
      .column {
        float: left;
        width: 25%;
      }
      
      /* Clear floats after rows */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      
      /* makes a two column-layout instead of four columns */
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* makes the two columns stack on top of each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }

      section#project-area div img {
          display: flex;
          width: 100%;
          object-fit:cover;
      }


      section#project-area div.row{
          width: 90%;
      }

      html body section.contact-area{
          margin-bottom: 100px;
      }


      #project-area div.row div.column div.content img {
        transition: transform .2s; 
            border: 1px solid black;

    
    }

    #project-area div.row div.column div.content img:hover {
        transform: scale(1.1); 
    
    }
    
#project-area a.about-btn {
    margin: 20px;
}

html body section#about.about-area ul.about-content li.about-right p {
    font-family: 'Roboto', monospace;
}
