
a#ABOUT.nav-item{
    color: #FFBAB6;
}


div.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.about-content{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}

.about-content li {
    padding: 20px;
    height: 30%;
}

.contact-section ul.about-content{
    max-width: 1300px;
}


.contact-section ul.about-content li.about-right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.about-left {
    flex-basis: 40%;
    display: flex;
    align-content: flex-end;
    max-width: 240px;
    max-height: 240px;

}


.contact-section ul.about-content li.about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;  
    min-width: 200px;
}

.about-right{
    flex-basis: 90%;
    height: 300px;

}

.about-right h2{
    margin-bottom: 3%;
}

.BHP {
    color: rgb(255, 127, 80);
}

div.contact-section p.about-paragraph {
    font-size: 0.8em;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    text-align: justify;

}


.contact-section ul.about-content li.about-right h2 {
    padding-bottom: 10px;
}



.contact-section div.overall-about-container {
    max-width: 1300px;
}




.about-me-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%;
}


.about-me-container-1 p.about-paragraph {
    display: flex;
    flex-basis: 90%;
    width: 90%;
}


.about-me-container-1 img {
    display: flex;
    flex-basis: 39%;
    width: 39%;
    max-width: 250px;

}


.overall-about-container div.end-photos {
    display: flex;
    flex-basis: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;

}


.overall-about-container div.end-photos img {
    display: flex;
    flex-basis: 30%;
    width: 30%;
    max-width: 300px;
}



@media (max-width: 1000px){
    .contact-section{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        padding: 50px 25px;

    }

    .about-left{
        justify-content: center;
    }
}


@media (max-width: 600px){
    .contact-section ul.about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-content li.about-left,
    .about-content li.about-right{
        flex-basis: 100%;
        justify-content: center;
    }



    div.about-me-container-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    
    .about-me-container-1 p.about-paragraph {
        display: flex;
        flex-basis: 90%;
        width: 90%;
    }
    
    
    .about-me-container-1 img {
        display: flex;
        flex-basis: 80%;
        width: 80%;
    
    }

}

@media (max-width: 550px){
    .overall-about-container div.end-photos {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
        align-items: center;
    
    }
    
    .overall-about-container div.end-photos img {
        display: flex;
        flex-basis: 60%;
        width: 60%;
    }


}


.about-me-container-1 p.about-paragraph{
font-family: 'Roboto', monospace;
}


.about-content li.about-right h3 {
    font-family: 'Roboto', sans-serif;

}