
* {
    border: 1px solid palevioletred;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'B612', sans-serif; 
}

ul,nav{
    list-style: none;
}

a{
  text-decoration: none;  
  font-size: 1.2rem; 
  font-weight: bold;
  text-emphasis: emphasis; 
  cursor: pointer;
  background: transparent;
  outline: none; 
  transition: all 0.3s ease-in-out;

}

/* Unvisited links */
nav a:link {
    color: black;
  }
  nav a:visited {
    color: black;
  }
 

  /* Hover */
nav a:hover {
    color: #FFBAB6;
}  


header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    padding: 35px 100px;
}

header h1 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-transform: uppercase;
    color: black;
    font-size: 3rem; 
    margin-right: 20px;
    flex-basis: 50%;
    justify-content: flex-start;
    flex-shrink: 1;
}

header nav {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    flex-shrink: 1;  
}
header nav li {
    margin: 0 15px;
    transition: all 0.3s ease-in-out;

}

html body header nav.container_nav{
    margin-left: 10px;
    margin-right: 10px;

}



header nav li:first-child{
    margin-left:0;
}
header nav li:last-child{
    margin-right:0;
}


.BHP {
    color: rgb(255, 127, 80);
}


@media(max-width:1000px){
    header{
        padding: 20px 50px;
    }
}


@media(max-width:950px){
    header{
        flex-direction: column;   
    }
    header h1{
        margin-bottom: 15px;
        text-align: center;
    }
    header nav li{
        margin: 0, 7px;
    }
}


@media(max-width:450px){
    header{
        flex-direction: column;   
    }
    header h1{
        margin-bottom: 10px;
    }
    header nav li{
        margin: 0, 3px;
        font-size: 1rem; 
    }

    html body header nav.container_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 1;
        width: 90%;
    }



    html body header nav.container_nav li a.nav-item{
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        flex-basis: 100%; 
        justify-content: flex-start;

    }
    

    html body header h1.main-heading{
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        color: black;
        font-size: 1.5rem; 
        justify-content: center;
        flex-shrink: 1;
    }

    section#home-page-section div.home-page-content div.icons-container{
        flex-direction: column;
    }

    html body section#home-page-section div.home-page-content{
        margin-top: 100px;
        margin-right: 0px;
    }

    header nav li{
        margin: 0;
    }

    html body header nav.container_nav{
        align-self: flex-start;
    }
    header h1 {
        justify-content: center;
        align-items: center;
    }


    html body section#about.about-area,
    html body section#project-area,
    html body section.contact-area{
        margin-bottom: 100px;
    }


    html body section.contact-area h3.section-title,
    html body section#project-area h3.section-title,
    html body section#about.about-area h3.section-title{
        font-size: 1.5rem; 

    }

    html body section#about.about-area ul.about-content{
        margin: 0px;
        width: 90%;
        padding: 10px;
    }

    html body section#about.about-area ul.about-content li.about-right p{
        font-size: 0.7rem; 

    }
    html body section#about.about-area ul.about-content li.about-right h2{
        font-size: 1rem; 
 
    }

}



section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; 
    margin-bottom: 300px; 
    flex-basis: 500px;
}


/* .maindrawing-area .  */
.home-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

div.home-page-section{
    flex-basis: 500px;
}

.home-page-content img {
    display: flex;
    object-fit:cover;
    width: 80%;
    max-width: 600px;
}

.home-page-content #homepageimage img {
    min-width: 300px;
}

.icons-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

html body section#home-page-section div.home-page-content div.icons-container a.linkednbutton img {
    transition: transform .2s; /* Animation */

}

html body section#home-page-section div.home-page-content div.icons-container a.linkednbutton img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */  
}




@media (min-width: 1300px){
/* Drawing Area */
    html body section#home-page-section{
        margin-top: 200px;
        margin-bottom: 300px;
    }

    html body section#home-page-section div.home-page-content img#homepageimage {
        display: flex;
        object-fit:cover;
        width: 80%;
        width: 900px;
    }


}


@media (max-width:800px){
    div.home-page-section{
        min-height: 600px; 
    }
}
@media (max-width:600px){
    section #home-page-section{
        padding: 0px 30px;
    }
}

.icons-container .linkednbutton{
    width: 50px;
}
.icons-container h2{
    color: black;
    flex-wrap: nowrap;
    white-space: nowrap;

}


/* .about-me-section .  */
ul.about-content{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;

}

.about-content li {
    padding: 20px;
    height: 300px;
}

.about-left{
    flex-basis: 30%;
    display: flex;
    align-content: flex-end;
    max-width: 340px;

}

html body section#about.about-area ul.about-content li.about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;  
}

.about-right{
    flex-basis: 70%;
    height: 300px;
}

.about-right h2{
    margin-bottom: 3%;
}

.about-btn{
    padding: 5px 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    text-decoration: none;  
    font-size: 0.85rem; 
    font-weight: none;
    text-emphasis: none; 
    border-radius: 25px;
}

.about-btn:hover {
    color: #FFBAB6;
    border-color: #FFBAB6;
  }

.about-area p {
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 2;
    text-align: left;
    padding-left: 0;
    font-family: 'B612', sans-serif; 

}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;

}

@media (max-width: 1000px){
    section ul.about-content{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        justify-content: center;
        padding: 50px 25px;

    }

    .about-left{
        justify-content: center;
    }
}


@media (max-width: 600px){
    html body section#about.about-area ul.about-content {
        justify-content: center;
    }
    .about-left,
    .about-right{
        flex-basis: 100%;
        justify-content: center;
    }
}


    #project-area .container {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    
    
    #project-area.container > div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    div.project-box_n{
        margin: 10px;
    }
    

    @media (max-width: 600px){
        .container > div > img{
            width: 40%;
            height: 30%;
            object-fit: cover;
        }
    
    }


.form-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
    width: 80%;
    max-width: 550px;

}

 input,textarea {
   font-size: 1em;
   padding: 5px 15px 5px 15px;
   background: transparent;
   outline: none;
   color: black;
   border: solid 1px black;
   border-bottom: none;
   font-family: 'B612', sans-serif; 
   transition: all 0.3s ease-in-out;
   width: 100%;

}

textarea{
    height: 100px;
}

  #submit {
    font-size: 1em;
    padding: 10px 15px 10px 15px;
    background: transparent;
    outline:none;
    cursor: pointer;
    color: black;
    border: none;
    border: solid 1px black;
    display: flex;
    justify-content: center;  
    font-family: 'B612', sans-serif; 
    transition: all 0.3s ease-in-out;
}


input:hover {
    color: salmon;
  }
  textarea:hover {
     color:salmon;
   }
  
   #submit:hover {
     color:#FFBAB6;
   }
  
   textarea {
      resize: none;
    }

    html body section.contact-area div.icon-about{
        display:flex;
        flex-direction: row;
        width: 20%;
        flex-basis: 20%;
        max-width: 300px;
        min-width: 100px;
        margin-top: 30px;
    }

    html body section.contact-area div.icon-about div a img {
        transition: transform .2s; /* Animation */

    }

    html body section.contact-area div.icon-about div a img:hover{
        transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }


    html body section.contact-area div.icon-about div a img{
        display: flex;
        width: 80%;
        object-fit:cover;
    }

    html body section.contact-area{
        display: flex;
        flex-direction: column;
    }

    html body section.contact-area div.icon-about div a{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5px;
        background-color: #FFBAB6;
        color: white;
        font-size: 0.7em;
    }

    footer a {
        font-size: 0.7em;
        color: white;
    }


    .row {
        margin: 8px -16px;
      }
      
      /* Add padding BETWEEN each column (if you want) */
      .row,
      .row > .column {
        padding: 8px;
      }
      
      /* Create four equal columns that floats next to each other */
      .column {
        float: left;
        width: 25%;
      }
      
      /* Clear floats after rows */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Content */
      .content {
        background-color: white;
        padding: 10px;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 900px) {
        .column {
          width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }

      section#project-area div img {
          display: flex;
          width: 100%;
          object-fit:cover;

          
      }


      section#project-area div.row{
          width: 90%;
      }

      html body section.contact-area{
          margin-bottom: 100px;
      }


      html body header nav.container_nav li a#HOME.nav-item {
          color: #FFBAB6;
      }




      html body section#project-area div.row div.column div.content img {
        transition: transform .2s; /* Animation */
    
    }
    
    
    html body section#project-area div.row div.column div.content img:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
    }
    
html body section#project-area a.about-btn {
    margin: 20px;
}

