
 a#CONTACT.nav-item{
    color: #FFBAB6;
}



.form-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
    width: 90%;
    max-width: 550px;

}

 input,textarea {
   font-size: 1em;
   padding: 5px 15px 5px 15px;
   background: transparent;
   outline: none;
   color: black;
   border: solid 1px black;
   font-family: 'B612', sans-serif; 
   transition: all 0.3s ease-in-out;
   width: 100%;

}

textarea{
    height: 100px;
}

  #submit {
    font-size: 1em;
    padding: 10px 15px 10px 15px;
    background: transparent;
    outline:none;
    cursor: pointer;
    color: black;
    border: none;
    border: solid 1px black;
    display: flex;
    justify-content: center;  
    font-family: 'B612', sans-serif; 
    transition: all 0.3s ease-in-out;
}


#contact-area-container div.icon-about{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
    max-width: 300px;
    min-width: 100px;
    margin-top: 30px;
}


#contact-area-container div.icon-about div a img{
    display: flex;
    width: 80%;
    object-fit:cover;
}

#contact-area-container{
    display: flex;
    flex-direction: column;
}

#contact-area-container div.icon-about div a{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#contact-area-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding: 100px;
    padding-left: 5px;
    padding-right: 5px;
}


#contact-area-container div {
    display: flex;
    align-self: center;
    flex-basis: 30%;
    flex-direction: column;
}

#contact-area-container section.contact-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 60%;
}


#contact-area-container section.contact-area div.form-container form{
    width: 100%;
    max-width: 500px;
}

#contact-area-container h3 {
    margin: 20px;
}


@media(max-width:700px){
    #contact-area-container {
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 70px;
        padding-left: 40px;
        padding-right: 40px;


    }

}


.contact-area{
    max-width: 750px;
}
.contact-area div{
    margin-bottom: 20px;
}

.contact-area div p {
    margin: 20px;
}

@media(max-width:550px){


    #contact-area-container {
        padding-top: 100px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;


    }

    #contact-area-container div h3{
        padding-top: 40px;
        padding-bottom:20px;
    }
}

#contact-area-container div div.icon-about {
    margin-bottom: 20px;
}

#contact-area-container div div.icon-about div a img {
    transition: transform .2s; 
}

#contact-area-container div div.icon-about div a img:hover {
    transform: scale(1.3); 
}

input:hover {
    color: salmon;
  }
  textarea:hover {
     color:salmon;
   }
  
#submit:hover {
    color:#FFBAB6;
}


#contact-area-container div p{
    font-size: 0.8em;
    line-height: 20px;
    margin-top: 20px;
}